# required modules

librosa==0.10.2.post1
matplotlib==3.8.3
numpy==1.26.4
pydub==0.25.1
soundfile==0.12.1
tkinter==8.6

# Check versions of all locally installed modules w/ "pip freeze"
# Add more modules here if used
